body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }

    // overflow:hidden;
}
#app{
    height: 100%;
}
/*滚动条样式*/
.innerbox{
    overflow-x: hidden;
    height: 100%;
}
.innerbox::-webkit-scrollbar {/*滚动条整体样式*/
    width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
}
.innerbox::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.05);
}
.innerbox::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 0;
    background: rgba(0,0,0,0.05);
}
input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}
textarea { -webkit-appearance: none;}   
html,body{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}
.clear:after{
    content: '';
    display: block;
    height:0;
    clear: both;
    visibility:hidden;
}
.clear{
    zoom:1;
}
.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.margin{
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.paddingTop{
    padding-top: 1.95rem;
}
@keyframes backOpacity{
   0%   { opacity: 1 }
   25%  { opacity: .5 }
   50%  { opacity: 1 }
   75%  { opacity: .5 }
   100% { opacity: 1 }
}
.animation_opactiy{
    animation: backOpacity 2s ease-in-out infinite;
}
//content common scss
.template-hd {
    // font-size: 14px;
    font-size: 16px;
    color: #515974;
    border-bottom: 1px solid #e1e7f0;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-12{
    margin-bottom: 12px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;   
}
.margin-bottom-30{
    margin-bottom: 30px;   
}
.border-bottom-2{
    border-bottom: 2px solid #e1e7f0;
}
// 所有Input button都是38象素高
#container-wrap .el-input__inner{
    font-size: 12px;
    height: 38px;
    line-height: 38px;
}
.border-left{
    border-left: 1px solid #e1e7f0;
}
.el-button{
    height: 38px;
    line-height: 38px!important;
    padding: 0 32px!important;
    span{
        font-size: 12px;
    }
}
// 确定按钮-blue
.el-button--confirm{
    background-color: #6cabff!important;
    border-color: #6cabff!important;
    span{
        color: #fff!important;
    }
    &:hover,
    &:active{
        background-color: #417eef!important;
        border-color: #417eef!important;
    }
    &:focus{
        background-color: #417eef!important;
        border-color: #417eef!important;
    }
}
// 上传或浏览按钮-blue
.el-button--upload{
    background-color: #6cabff!important;
    border-color: #6cabff!important;
    span{
        color: #fff!important;
    }
    &:hover,
    &:active{
        background-color: #417eef!important;
        border-color: #417eef!important;
    }
    
}
//取消按钮-gray
.el-button--cancel{
    background-color: transparent!important;
    border-color: #e1e7f0!important;
    span{
        color: #898d9d!important;
    }
    &:hover,
    &:active,
    &:focus{
        background-color: #fbfbfb!important;
        border-color: #6cabff!important;
        span{
            color: #92c0fe!important;
        }
    }
}
//日期按钮-gray
.el-button--date{
    background-color: #ffffff!important;
    border-color: #e1e7f0!important;
    span{
        color: #7f8599!important;
    }
    &:hover,
    &:active,
    &:focus{
        background-color: #6cabff!important;
        border-color: #6cabff!important;
        span{
            color: #ffffff!important;
        }
    }
}
.default-date{
    background-color: #6cabff!important;
    border-color: #6cabff!important;
    span{
        color: #ffffff!important;
    }
}
//开启，关闭等特殊按钮
.el-button--click{
    background-color: #ffffff!important;
    border-color: #e1e7f0!important;
    span{
        color: #515974!important;
    }
}
.open-clicked1{
    background-color: #6cabff!important;
    border-color: #6cabff!important;
    span{
        color: #fff!important;
    }
    &:hover,
    &:active{
        background-color: #417eef!important;
        border-color: #417eef!important;
    }
    &:focus{
        background-color: #417eef!important;
        border-color: #417eef!important;
    }
}
.close-clicked1{
    background-color: #a5a6bb!important;
    border-color: #a5a6bb!important;
    span{
        color: #fff!important;
    }
    &:hover,
    &:active{
        background-color: #515974!important;
        border-color: #515974!important;
    }
    &:focus{
        background-color: #515974!important;
        border-color: #515974!important;
    }
}
.delete-clicked1{
    background-color: #ff6870!important;
    border-color: #ff6870!important;
    span{
        color: #fff!important;
    }
    &:hover,
    &:active{
        background-color: #e95058!important;
        border-color: #e95058!important;
    }
    &:focus{
        background-color: #e95058!important;
        border-color: #e95058!important;
    }
}
.expose-clicked1{
    background-color: #6cd76e!important;
    border-color: #6cd76e!important;
    span{
        color: #fff!important;
    }
    &:hover,
    &:active{
        background-color: #38ab34!important;
        border-color: #38ab34!important;
    }
    &:focus{
        background-color: #38ab34!important;
        border-color: #38ab34!important;
    }
}
// 修改按钮
.el-button--revise{
    background-color: #fbfbfb!important;
    border-color: #6cabff!important;
    span{
        color: #6cabff!important;
    }
    &:hover,
    &:active,
    &:focus{
        background-color: #6cabff!important;
        border-color: #6cabff!important;
        span{
            color: #fff!important;
        }
    }
}
// 确认和取消按钮一起
.is-confirm{
    background-color: #fbfbfb;
    padding-top: 30px;
}
// red button
.el-button--danger{
    background-color: #ff6870!important;
    border-color: #ff6870!important;
    span{
        color: #fff!important;
    }
    &:hover,
    &:active,
    &:focus{
        background-color: #e95058!important;
        border-color: #e95058!important;
        span{
            color: #fff!important;
        }
    }
}
// a link style-blue
a.el-link-add{
    width: 109px;
    border-color: #6cabff;
    color: #6cabff;
    margin-right: 6px;
    .add-iron{
        margin-right: 11px;
        color: #6cabff;
        font-size: 22px;
    }
    .add-msg {
        vertical-align: 3px;
        margin-left: -8px;
        font-size: 12px;
        color: #6cabff;
    }
}
// 确定按钮-blue
.el-button--new{
    background-color: #ffffff!important;
    border-color: #6cabff!important;
    span{
        color: #6cabff!important;
    }
    .add-iron{
        margin-right: 11px;
        color: #6cabff;
    }
    
}
//checkbox
.el-checkbox__inner{
    width: 16px!important;
    height: 16px!important;
    &::after{
        left: 5px!important;
        top: 2px!important;
    }
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
    top: 6px!important;
}
// radio
.el-radio+.el-radio {
    margin-left: 20px;
}
.el-radio__inner{
    width: 16px!important;
    height: 16px!important;
}
.el-radio__inner {
    z-index: 1!important;
    -webkit-transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46)!important;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46)!important;
}
.el-checkbox__input.is-checked .el-checkbox__inner:after,
.el-checkbox__input.is-focus .el-checkbox__inner:after{
    transform: rotate(45deg) scaleY(1)!important;
}
.el-radio__inner::after {
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;
    border: 1px solid #fff!important;
    border-left: 0!important;
    border-top: 0!important;
    border-radius: 0px!important;
    width: 3px!important;
    height: 7px!important;
    left: 5px!important;
    top: 2px!important;
    background-color:transparent!important;
    -webkit-transform: rotate(45deg) scaleY(1)!important;
    transform: rotate(45deg) scaleY(1)!important;
    -webkit-transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms!important;
    transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms!important;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms!important;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms!important;
    -webkit-transform-origin: center!important;
    transform-origin: center!important;
}
// input + unit
// single unit wrap to set error style
.per-unit{
    display: inline-block;
    // error style
    .error-tip{
        padding-left: 23px;
        color: #ff6870;
        visibility: hidden;
    }
    &.error-border{
        .el-input__inner{
            border-color: #ff6870!important;
        }
        .error-tip{
            visibility: visible;
        }
    }
}
.unit-setting{
    position: relative;
    display: inline-block;
    .el-input__inner{
        border-color: #eaeef4!important;
    }
    .unit{
        position: absolute;
        padding:10px 10px 9px;
        top: 0;
        right: 0;
        color: #fff;
        background-color: #6cabff;
    }
    .meta{
        background-color: #fea763;
    
    }
}
// 裸input输入框
.el-input__inner{
    // border-color: #ebeff4!important;
    &:focus,
    &:hover{
    border-color: #c7defc!important;
    }
}
// 黄色input输入框
.i-yellow .el-input__inner:focus,
.i-yellow .el-input__inner:hover {
    outline: none;
    border-color: #fcd9be!important;
}
// 蓝色input 输入框
.i-blue .el-input__inner:focus,
.i-blue .el-input__inner:hover {
    outline: none;
    border-color: #c2dbfd!important;
}
// 下拉菜单
.el-popper[x-placement^=bottom]{
    display: block;
}
.el-dropdown-menu{
    margin: 10px 0 10px!important;
    padding: 0!important;
    .popper__arrow{
        display:none!important;
    }
}
.el-dropdown-menu__item{
    padding:0 0 0 15px!important;
    line-height: 38px!important;
    border-color: #e8ecf3!important;
    color: #aeb2be!important;
    font-size: 12px!important;
    width: 90px;
    &:focus,
    &:not(.is-disabled):hover{
        background-color: #f6f8fa!important;
        color: #515974!important;
    }
}
.el-buttonel-button--select{
    border-color: #e8ecf3!important;
    &:focus,
    &:hover{
        color: #7e8498!important;
        border-color: #bcd8fd!important;
        background-color: #fbfbfb!important;
    }
}
// 日期 搜索框内图标位置+关闭图标位置
.el-input__prefix{
    // right: 2px!important;
    left: 85%!important;
    width:25px;
    font-size: 18px;
    .el-input__icon{
        color: #a5a6bb!important;
    }
}
.el-input--prefix{
    .el-input__inner{
        padding-right: 38px!important;
    }
}
.custom__close{
    left: 77%!important;
}
//搜索框文字颜色
::-webkit-input-placeholder {
    color: #b8b8b8;
    font-size: 12px;
}
:-moz-placeholder {/* Firefox 18- */
    font-size: 12px;
    color: #b8b8b8;
}
::-moz-placeholder{/* Firefox 19+ */
    color: #b8b8b8;
    font-size: 12px;
}
:-ms-input-placeholder {
    font-size: 12px;
    color: #b8b8b8;
}
// switch开关通用样式
.el-switch{
    width: 54px!important;
    height: 22px!important;
    .el-switch__core{
        width: 54px!important;
        height: 22px!important;
        border-color: #dfe4e7;
        background-color: #ffffff;
        &::after{
            border: 1px solid #dfe4e7;
        }
        .el-switch__button{
            border: 1px solid #e0e5e8;
            height: 18px;
            width: 18px;
        }
    }
    .el-switch__label{
        position: absolute;
        z-index: 1;
        color: #b8b8c9;
        &.is-active span{
            color: #fff;
        }
        & *{
            font-size: 12px;
        }
    }
    .el-switch__label--left{
        left: 8px;
        top: 0;
        span{
            color: #d8e9ff!important;
        }
    }
    
    .el-switch__label--right{
        right: 8px;
        top: 0;
        span{
            color: #bdbecd!important;
        }
    }
    &.is-checked{
        .el-switch__core{
            background-color: #6cabff;
            border-color: #6cabff;
            .el-switch__button{
                border-color: #ffffff;
                transform: translate3d(33px, 0px, 0px)!important;
            }
        }
    }
    
    .is-active{
        display: none;
    }
}
// table 样式
.el-table{
    .cell{
        color: #515974;
        font-size: 12px;
    }
    tr th{
        background-color: #f5f6f9;
        border-top: 1px solid #e1e7f0;
        padding: 11px 0;
        // color: #515974;
        // .el-checkbox__input {
        //     line-height: 0.4;
        //     vertical-align: bottom;
        // }

    }
    th>.cell{
        // padding:12px 0 10px;
    }
    td>.cell{
        color: #515974;
        padding-right: 30px;
    }
    .el-textarea__inner{
        font-size: 12px;
        color: #515974;
    }
}
// table hover行背景色修改
.el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color:#fafafc;
}
// pagenation
.block{
    .el-pagination{
        padding:20px 30px;
    }
    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump{
        float: right;
    }
    .el-input__inner{
        height: 34px!important;
        line-height: 34px!important;
        padding: 0 8px 0 4px !important;
    }
    .el-pagination__total{
        margin-right: 0;
    }
    .el-pagination__editor.el-input{
        margin: 0 6px;
    }
    .el-pager li,
    .btn-prev,
    .btn-next{
        border: 1px solid #e1e7f0;
        border-right: 0;
    }
    .btn-prev{
        padding-right: 6px;
    }
    .btn-next{
        padding-left: 6px;
        border-right: 1px solid #e1e7f0;
    }
    .el-pager li.active{
        border-right: 1px solid #e1e7f0;
        color: #ffffff;
        background-color: #6cabff;
        border-color: #6cabff;
    }
    
}
// 选择日期通用样式
// date input color add
.el-date-editor{
    width: 255px!important;
    vertical-align: -5px!important;
    position: relative;
    margin-right: 5px;
    .el-range-input{
        vertical-align: 2px;
        width: 38%;
        color: #515974;
    }
    .el-range-separator{
        vertical-align: 2px;
        width: 9%;
    }
    .el-range__icon{
        position: absolute;
        right: 5px;
        top: 0;
        font-size: 24px;
    }
    .el-date-editor--daterange.el-input__inner{
        width: 304px;
        vertical-align: -4px;
    }
}
// upload
.browse-row{
    position: relative;
    .upload-demo{
        margin-left: 8px;
        display: inline;
    }
    .el-upload-list{
        width: 240px;
        position: absolute;
        top: 1px;
        left: 79px;
    }
    .el-icon-document::before{
        content: '';
    }
    .el-upload-list__item{
        padding: 5px 0 6px;
        margin: 0;
        border: 1px solid #76b0ff;
        border-radius: 5px;
        
    }
    .el-upload-list__item-status-label{
        top: 6px;
    }
    .el-icon-close{
        top: 12px;
    }
    .el-upload-list__item-name{
        color: #90c0ff;
    }
}
// upload style start
.upload-control{
    position: relative;
    .el-icon-close{
        color: #6cabff;
        position: absolute;
        right: 5px;
        top: 12px;
        visibility: hidden;
        cursor: pointer;
    }
}
.upload-input{
    .el-input__inner{
        border-color: #6cabff!important;
        color: #6cabff;
    }
    .el-icon-close{
        visibility: visible;
    }
}
// upload style end
// alert layer start
.el-message{
    &.el-message--success,
    &.el-message--error,
    &.el-message--warning{
        background-color: #fff;
        border-color: #e1e7f0;
        height: 100px!important;
    }
    .el-message__icon{
        margin-right: 20px;
        font-size: 22px;
        float: left;
    }
    .el-icon-success:before{
        content: "\E63E";
        color: #6fd871;
    }
    .el-icon-error:before{
        content: "\E609";
        color: #ff6870;
    }
    .el-icon-warning:before{
        color: #fea763;
    }
    .el-message__content{
        color: #515974;
        font-size: 16px;
    }
}
// alert layer end
// pop select
.el-select-dropdown__item span{
    font-size: 12px;
    color: #515974;
}
//search + menu
.common-search-list{
    
    .data-item.second-title{
        padding-right: 0;
        width: 56px;
    }
    div.single-row-search{
        width: 300px;
        border-radius: 5px;
        margin-left: 57px;
        .el-input.el-input--prefix{
            width: 300px;
        }
        .district-bd{
            border: 1px solid #e1e7f0;
            border-top: 0 none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .innerbox{
            height: 227px;
        }
        
    }
    .area-list {
        // margin-left: 528px;
        margin-left: 397px;
        width: 300px;
        border: 1px solid #e1e7f0;
        position: relative;
    }
    
}
// 遮蔽层背景色调整
.v-modal{
    background-color: #181a1e;
    opacity: 0.3;
}
// 重设弹出层黑色边框
.el-dialog{
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.01);
    box-shadow: 0 1px 3px rgba(0,0,0,.01);
}
// 链接跳转
.link-jump{
    color: #6cabff;
    &:hover{
        text-decoration: underline;
    }
}

// 二次确认弹出框 start
.customOpenFontMore,
.customCloseFontMore,
.customDeleteFontMore,
.customOpenBox,
.customCloseBox,
.customDeleteBox{
    width: 360px;
    overflow: visible;
    .el-message-box__headerbtn{
        top: -18px;
        right: -18px;
    }
    .el-icon-close{
        width: 36px;
        height: 36px;
        &:before {
            content: " ";
        }
    }
    .el-icon-warning{
        margin-left: 60px;
        width: 22px;
        &:before {
            content: " ";
        }
    }
    .el-message-box__content{
        padding: 10px 5px;
    }
    .el-message-box__message,
    .el-message-box__btns{
        text-align: center;
    }
    .el-message-box__message{
        padding-left: 19px;
        p{
            font-size: 16px;
            color: #515974;
        }
    }
    .el-message-box__btns{
        padding: 28px 15px 19px;
        .el-button{
            padding: 0 41px !important;
            &:nth-child(2){
                float: left;
                margin-left: 50px;
            }
            &:first-child{
                margin-left: -42px;
            }
        }
    }
}
.customOpenFontMore,
.customCloseFontMore,
.customDeleteFontMore{
    width: 460px;
    .el-icon-warning{
        margin-left: 55px;
        top: 26px;
    }
    .el-message-box__message{
        padding-left: 95px;
        padding-right: 60px;
        p{
            line-height: 29px;
            text-align: left;
        }
    }
    .el-message-box__btns{
        .el-button{
            &:nth-child(2){
                margin-left: 107px;
            }
            &:first-child{
                margin-left: -83px;
            }
        }
    }
}
// 二次确认弹出框 end
